<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <h1>Meet the Team: About Us</h1>
    <h2>Meet the creators behind this website.</h2>

    <!---kira--->
    <h2>Kira</h2>
    <div class="card p-2 img-box-container"> </div>
    <img class="img-box" id="kira" src="/images/kira.jpg"/>

    <!---ridhima--->
    <h2>Ridhima</h2>
    <div class="card p-2 img-box-container"></div>
    <img class="img-box" id="ridhima" src="/images/ridhima.jpg"/>


    <!---natasha--->
    <h2>Natasha</h2>
    <div class="card p-2 img-box-container"></div>
    <img class="img-box" id="natasha" src="/images/natasha.jpg"/>

    <!---rini--->
    <h2>Rini</h2>
    <div class="card p-2 img-box-container"></div>
    <img class="img-box" id="rini" src="/images/rini.jpg"/>


    <h2>Our Purpose</h2>
    <h3>Del Norte's talented art students produce outstanding artwork every trimester for our tri-annual Night at the Museum show. Our innovative website showcases our students' pieces in an efficient manner and helps them stand out.</h3>

    <h3>Project Sponsor: Mr Coleman</h3>

</body>
</html>