<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <h1>Meet the Team: About Us</h1>
    <h2>Meet the creators behind this website.</h2>

    <!---kira--->
    <h2>Kira</h2>
    <div class="card p-2 img-box-container">
        <img class="img-box" id="kira" src="/images/kira.jpg"/>

    <!---ridhima--->
        <h2>Ridhima</h2>
        <div class="card p-2 img-box-container">
            <img class="img-box" id="ridhima" src="/images/ridhima.jpg"/>


    <!---natasha--->
        <h2>Natasha</h2>
        <div class="card p-2 img-box-container">
            <img class="img-box" id="natasha" src="/images/natasha.jpg"/>

    <!---rini--->
    <h2>Rini</h2>
    <div class="card p-2 img-box-container">
        <img class="img-box" id="rini" src="/images/rini.jpg"/>


</body>
</html>