<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Art Gallery</title>
</div></head>

<!-- <body> -->
<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <div class="row" style="padding:100px;">

        <h1>Art</h1>
        <div class="card">
            <img src="mona_lisa.webp" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Mona Lisa</b></h4>
                <p>Leonardo Da Vinci</p>
                <p><button class="button">Description: ...</button></p>
            </div>
        </div>
    </div>
</body>

<body><div layout:fragment="content" th:remove="tag">
    <div class="row" style="padding:100px;">
        <h1>Art</h1>
        <div class="card">
            <img src="mona_lisa.webp" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Mona Lisa</b></h4>
                <p>Leonardo Da Vinci</p>
                <p><button class="button">Description: ...</button></p>
            </div>
        </div>
    </div>
</body>



</html>