<!---This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!--Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<h2>Welcome to the Gallery</h2>

<head><div layout:fragment="metadata" th:remove="tag">
    <title class="titlehead">Night at the Museum</title>
</div></head>
<!---<h1 class="titlehead">Gallery</h1>
<h2 class="titlehead">Gallery</h2> -->

<!--<div style="margin: auto; margin-top: 50px; width:700px;  background-color: var(--secondary); border: 2px solid var(--primary); border-radius: 1.5em;">
    <div style="text-align: center; padding: 30px; color: var(--primary);">
        <h1>Welcome to the Gallery</h1>
        <div style="text-align: left;">
            <p>Scroll down to view our Nighthawks' amazing work!</p>
        </div>
    </div>
</div> -->

<!---<h2>Our Purpose</h2>
<h3>Del Norte's talented art students produce outstanding artwork every trimester for our tri-annual Night at the Museum show. Our innovative website showcases our students' pieces in an efficient manner and helps them stand out.</h3>

<h4>Project Sponsor: Mr Coleman</h4> --->

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body style="text-align: center;"><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <!--    <div class="row justify-content-md-center flex-container" style="padding:10px; width:1000px;" >-->
    <!--        <table class="table">-->
    <!--            <tr th:each="value: ${gameList}">-->
    <!--                <div>-->
    <!--                    <div class="card" style="width:300px; margin:10px;">-->
    <!--                        <img th:src="${value[2]}" class="card-img-top" style="height:200px;">-->
    <!--                        <div class="card-body">-->
    <!--                            <a class="bodytext" style="text-align:left">Title:</a>-->
    <!--&lt;!&ndash;                            <p class="card-text titlehead" th:text="${value[0]}"></p>&ndash;&gt;-->
    <!--                            <a class="bodytext" style="text-align:left">Artist:</a>-->
    <!--&lt;!&ndash;                            <a class="card-text bodytext" th:text="${value[3]}"></a></br>&ndash;&gt;-->
    <!--&lt;!&ndash;                            <a style="text-align:left" class="bodytext">Playtime (in hours): </a>&ndash;&gt;-->
    <!--&lt;!&ndash;                            <a class="card-text bodytext" th:text="${value[4]}" ></a></br>&ndash;&gt;-->
    <!--&lt;!&ndash;                            <h6 class="card-text" th:text="${value[1]}"></h6>&ndash;&gt;-->
    <!--                        </div>-->
    <!--                        <script>-->
    <!--                            ScrollReveal().reveal('.card', {-->
    <!--                                interval: 16,-->
    <!--                                reset: true,-->
    <!--                                useDelay: 'onload'-->
    <!--                            })-->

    <!--                        </script>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </tr>-->
    <!--        </table>-->
    <!--    </div>-->


    <!--- actual pics start here -->
    <!--- kira -->
    <div class="row justify-content-md-center flex-container" style="padding:10px; width:1000px;" >
        <table class="table">
        </table>
        <tr>
            <div>
                <div class="card" style="width:300px; margin:10px;">
                    <img src="/images/brittney.png" class="card-img-top" style="height:200px;">
                    <div class="card-body">
                        <a class="titlehead" style="text-align:left">By Brittney Huang '24</a>
                    </div>
                </div>
            </div>
        </tr>
    </div>

    <!--- natasha -->
    <div class="row justify-content-md-center flex-container" style="padding:10px; width:1000px;" >
        <table class="table">
        </table>
        <tr>
            <div>
                <div class="card" style="width:300px; margin:10px;">
                    <img src="/images/faces.png" class="card-img-top" style="height:200px;">
                    <div class="card-body">
                        <a class="titlehead" style="text-align:left">By Kenna Okimoto '24</a>
                    </div>
                </div>
            </div>
        </tr>
    </div>

    <!--- ridhima --->
    <div class="row justify-content-md-center flex-container" style="padding:10px; width:1000px;" >
        <table class="table">
        </table>
        <tr>
            <div>
                <div class="card" style="width:300px; margin:10px;">
                    <img src="/images/turtle.png" class="card-img-top" style="height:200px;">
                    <div class="card-body">
                        <a class="titlehead" style="text-align:left">Ceramics</a>
                    </div>
                </div>
            </div>
        </tr>
    </div>

    <!--- ridhima --->
    <div class="row justify-content-md-center flex-container" style="padding:10px; width:1000px;" >
        <table class="table">
        </table>
        <tr>
            <div>
                <div class="card" style="width:300px; margin:10px;">
                    <img src="/images/hand.png" class="card-img-top" style="height:200px;">
                    <div class="card-body">
                        <a class="titlehead" style="text-align:left">By Hyaebin Kim '24</a>
                    </div>
                </div>
            </div>
        </tr>
    </div>

    <div class="row justify-content-md-center flex-container" style="padding:10px; width:1000px;" >
        <table class="table">
        </table>
        <tr>
            <div>
                <div class="card" style="width:300px; margin:10px;">
                    <img src="/images/band.png" class="card-img-top" style="height:200px;">
                    <div class="card-body">
                        <a class="titlehead" style="text-align:left">2022 Band</a>
                    </div>
                </div>
            </div>
        </tr>
    </div>

    <div class="row justify-content-md-center flex-container" style="padding:10px; width:1000px;" >
        <table class="table">
        </table>
        <tr>
            <div>
                <div class="card" style="width:300px; margin:10px;">
                    <img src="/images/baton.png" class="card-img-top" style="height:200px;">
                    <div class="card-body">
                        <a class="titlehead" style="text-align:left">2022 Color Guard</a>
                    </div>
                </div>
            </div>
        </tr>
    </div>

    <div class="row justify-content-md-center flex-container" style="padding:10px; width:1000px;" >
        <table class="table">
        </table>
        <tr>
            <div>
                <div class="card" style="width:300px; margin:10px;">
                    <img src="/images/ella.png" class="card-img-top" style="height:200px;">
                    <div class="card-body">
                        <a class="titlehead" style="text-align:left">By Ella Duggan '24</a>
                    </div>
                </div>
            </div>
        </tr>
    </div>

    <div class="row justify-content-md-center flex-container" style="padding:10px; width:1000px;" >
        <table class="table">
        </table>
        <tr>
            <div>
                <div class="card" style="width:300px; margin:10px;">
                    <img src="/images/mihika.png" class="card-img-top" style="height:200px;">
                    <div class="card-body">
                        <a class="titlehead" style="text-align:left">Mihika's Art Collection</a>
                    </div>
                </div>
            </div>
        </tr>
    </div>

    <!--- ridhima --->
    <div class="row justify-content-md-center flex-container" style="padding:10px; width:1000px;" >
        <table class="table">
        </table>
        <tr>
            <div>
                <div class="card" style="width:300px; margin:10px;">
                    <img src="/images/Mona Lisa.png" class="card-img-top" style="height:200px;">
                    <div class="card-body">
                        <a class="titlehead" style="text-align:left">By Leonardo da Vinci</a>
                    </div>
                </div>
            </div>
        </tr>
    </div>

    <!--- ridhima --->
    <div class="row justify-content-md-center flex-container" style="padding:10px; width:1000px;" >
        <table class="table">
        </table>
        <tr>
            <div>
                <div class="card" style="width:300px; margin:10px;">
                    <img src="/images/The Scream.png" class="card-img-top" style="height:200px;">
                    <div class="card-body">
                        <a class="titlehead" style="text-align:left">By Edvard Munch</a>
                    </div>
                </div>
            </div>
        </tr>
    </div>

    <!--- ridhima --->
    <div class="row justify-content-md-center flex-container" style="padding:10px; width:1000px;" >
        <table class="table">
        </table>
        <tr>
            <div>
                <div class="card" style="width:300px; margin:10px;">
                    <img src="/images/memory.png" class="card-img-top" style="height:200px;">
                    <div class="card-body">
                        <a class="titlehead" style="text-align:left">By Salvador Dali</a>
                    </div>
                </div>
            </div>
        </tr>
    </div>

    <!--- rini --->
    <div class="row justify-content-md-center flex-container" style="padding:10px; width:1000px;" >
        <table class="table">
        </table>
        <tr>
            <div>
                <div class="card" style="width:300px; margin:10px;">
                    <img src="/images/Parasol.png" class="card-img-top" style="height:200px;">
                    <div class="card-body">
                        <a class="titlehead" style="text-align:left">By Claude Monet</a>
                    </div>
                </div>
            </div>
        </tr>
    </div>

    <div class="row justify-content-md-center flex-container" style="padding:10px; width:1000px;" >
        <table class="table">
        </table>
        <tr>
            <div>
                <div class="card" style="width:300px; margin:10px;">
                    <img src="/images/The Starry Night.png" class="card-img-top" style="height:200px;">
                    <div class="card-body">
                        <a class="titlehead" style="text-align:left">By Vincent van Gogh</a>
                    </div>
                </div>
            </div>
        </tr>
    </div>






    <!-- End of body content specific to page -->
</div></body>

</html>