.theme-dark {
  --primary: #000000;
  --secondary: #ffffff;
  --body-bg: #ffffff;
}

.theme-light {
  --primary: #ffffff;
  --secondary: #000000;
  --body-bg: #000000;
}

@font-face{
  font-family: rosmatika;
  src: url(rosmatika.ttf);
}

.titlehead{
  font-family: rosmatika;
  color: var(--primary);
}

.navbar{
  background-color:var(--primary);
}

html, body {
  background-color: var(--body-bg) !important;
}

.nav-link {
  color:var(--secondary) !important;
}